@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* WebKit scrollbar styling */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(55 65 81);
}

::-webkit-scrollbar-horizontal {
  height: 12px;
}

::-webkit-scrollbar-track-piece {
  background-color: #0b0a0a;
}

::-webkit-scrollbar-thumb-piece {
  background-color: #080808;
}
